<footer class="page-footer green darken-2" ng-controller="FooterCtrl">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">HexagonMinecraft</h5>
                <p class="grey-text text-lighten-4">This is where HexagonMC Devs keep all of their development tools!</p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">MC Servers</h5>
                <ul>
                    <li class="white-text">public.hexagonminecraft.com</li>
                    <li class="white-text">play.hexagonminecraft.com</li>
                    <li class="white-text">survival.hexagonminecraft.com</li>
                    <li class="white-text">creative.hexagonminecraft.com</li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">HexagonMC</h5>
                <ul>
                    <li><a class="white-text" href="https://hexagonminecraft.com">Website</a></li>
                    <li><a class="white-text" href="https://forum.hexagonminecraft.com">Forum</a></li>
                    <li><a class="white-text" href="https://plus.google.com/108473134956294583327">Google+</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            &copy; HexagonMC {{thisYear}}. All rights reserved.<br>
            Made by <a class="orange-text text-lighten-3" href="https://nprail.me">nprail</a>
        </div>
    </div>
</footer>