<div ng-controller="HeaderCtrl">
    <ul id="dropdown1" class="dropdown-content">
        <li ng-repeat="repo in repos"><a href="{{repo.html_url}}">{{repo.name}} <span ng-show="repo.fork">(Fork)</span></a></li>
    </ul>
    <nav class="green darken-2" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">HMC Dev</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="https://www.github.com/HexagonMinecraft" target="_blank">GitHub</a></li>
                <li><a href="https://registry.HexagonMinecraft.com" target="_blank">MCPR</a></li>
                <li><a class="dropdown-button" href="javascript:void(0);" data-beloworigin="true" dropdown data-activates="dropdown1">Projects<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
            <ul id="nav-mobile" class="side-nav">
                <li><a href="https://www.github.com/HexagonMinecraft" target="_blank">GitHub</a></li>
                <li><a href="https://mcpr.io" target="_blank">MCPR</a></li>
                <li><a class="dropdown-button" href="javascript:void(0);" data-beloworigin="true" dropdown data-activates="dropdown1">Projects<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
            <a href="javascript:void(0);" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</div>
